.navbar {
    text-transform: uppercase; 
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;
    opacity: .92;
}
.navbar-brand img {
    height: 2rem;
}

.navbar-nav li {
    padding-right: .7rem;
}

.nav-link {
    color: white;
    padding-top: .8rem;
}

.nav-link.active, 
.nav-link:hover {
    color: #e66722;
}

.btn {
    margin: .2rem;
}

.btn-outline-light {
    border-radius: 1rem;
    border-width: .15rem;
    border-color: #e66722;
}

.btn-outline-light:hover {
    border-radius: 1.2rem;
    border-width: .15rem;
    border-color: #e66722;
    opacity: .7;
}