.App {
  text-align: center;
}

.App-logo {
  height: 80px;
  float: left;
}

.App-appname {
  float: left;
  margin: 20px;
  padding: 10px;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.Slider-div {
  width: 60%; 
  height: 50%;
  text-align: center;
}

.slick-slider {
  display: inline-block;
}

.Slider-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 50%;
  z-index: 1;
}


.slides {
  position: center;
}

.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 50%;
  z-index:1;
}

.slides .slick-prev {
  left: 5%;
}

.slides .slick-next {
  right: 5%;
}

