@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

body {
    overflow-x: hidden;
    font-family: 'Lato';
    color: #505962;
}

.jumbotron {
    background: rgba(204, 204, 204, 0.9);
    padding: 1.5rem;
    height: 80vh;
    margin: 2rem;
}