.footer {
    background-color: darkgrey;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    position: relative;
    color: white;
    text-transform: uppercase; 
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;
    opacity: .92;
    width: 100%;
    bottom: 0;
    width:100%;
    font-weight:bold;
    text-align:center;
    position:fixed;    /*Here's what sticks it*/
    bottom:0;          /*to the bottom of the window*/
    left:0;            /*and to the left of the window.*/
}

.footer-text {
    margin-top: .6rem;
}